.firstSection {
    margin-top: 50px;
}

.addressText {
    font-size: 10px;
}

.card {
    width: 34rem;
    border-radius: 10px;
    position: relative;
}

#heart {
    font-size: 25px;
}

#comment {
    font-size: 25px;
}

#plane {
    font-size: 25px;
}

#bookmark {
    font-size: 25px;
}

.likeChecked {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#AvatarDisplay {
    border-radius: 50%;
    width: 50px;
    height: 50px;



}

.border {
    border: 1px solid red;
}

.image-container {
    position: relative;
    width: 100%;
}

#imgDisplay {
    width: 100%;
    height: auto;
    display: block;
}

.rightAerrow {
    position: absolute;
    bottom: 140px;
    left: 330px;
    font-size: 25px;
    color: #fff;
}

#tageIcon {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;

    cursor: pointer;
    transition: background 0.3s;
}

.dotContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}







#dot {
    position: absolute;
    bottom: 15px;
    color: #ffffff9d;

    left: 150px;

    font-size: 8px;
    padding: 8px;
    border-radius: 50%;

    cursor: pointer;
    transition: background 0.3s;
}

#checkText {
    font-size: 20px;
    white-space: normal;
    word-break: break-word;
}

.firstRow,
.SecondRow,
.ThirdRow {
    display: flex;
    flex-wrap: wrap;
}

.sixthRow {
    margin-left: 150px;
}



@media (max-width:481px) {
    .firstSection {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .secondSection {
        width: 100%;

    }


    input {
        width: 100%;
    }

    #optionCount {
        width: 100%;
    }

    .fourthRow input {
        width: 100%;
    }

    #checkText {
        font-size: 20px;

    }

    .sixthRow {

        margin-right: 100px;
    }




}

@media (max-width:867px) {
    .card {
        width: 100%;
    }

    .firstSection {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    .thirdSection {
        width: 100%;
    }

}

/* iPad Portrait & Landscape (768px - 1024px) */
@media (max-width:1024px) {
    .card {
        width: 100%;
    }

    .thirdSection .d-flex {
        width: 100%;
        flex-wrap: wrap;
    }

    .sixthRow {
        margin-left: 10px;
        margin-right: 0px;
    }

    .fifthRow .d-flex {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }




}